__pycache__

# virtualenv
/env

# Local releases/build
*egg-info
/build
/dist
debian/.debhelper/
debian/hcloud-manager*
!debian/hcloud-manager.links
debian/debhelper-build-stamp

# VSCode files
.vscode

# Local notes
TODO.md
